body {
    font-family: Arial, sans-serif;
    background-color: #1b2a38;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background: #fff;
    padding: 3rem;
    border-radius: 1rem;
    width: 20rem;
    text-align: center;
}

.login-container h2 {
    color: #2d3436;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 20rem;
    padding: 0.5rem;
    margin: 0.7rem -1rem;
    border: 0.1rem solid #ccc;
    border-radius: 0.5rem;
    transition: 0.3s;
}

.login-container input[type="text"]:focus,
.login-container input[type="password"]:focus {
    border-color: #0984e3;
}

.login-container button {
    width: 20rem;
    padding: 0.7rem;
    background-color: #1b2a38;
    color: white;
    border-radius: 0.7rem;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 0.7rem;
    transition: background-color 0.3s;
}

.login-container button:hover {
    background-color: #2a4257;;
}

.login-container a {
    display: block;
    margin-top: 1rem;
    color: #2a4257;
    text-decoration: none;
    font-size: 0.9rem;
}

.login-container a:hover {
    text-decoration: underline;
}