body {
    font-family: Arial, sans-serif;
    background-color: #d4e4f3;
    margin: 0;
}

.card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    max-width: 400px;
    margin: 2rem auto;
}
.form-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: .8rem;

}
label {
    font-weight: bold;
    margin-bottom: -.5rem;
}

input {
  width: 250px;          
  padding: .4rem;           
  border: 2px solid #ccc;    
  border-radius: 8px;      
  font-size: 16px;           
  outline: none;            
  transition: border 0.3s;  
}

input::placeholder {
  font-size: 14px;       
}

input[type="color"] {
  cursor: pointer;
  width: 3rem;           
}

.selector {
    width: min-content;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-bottom: 1rem;
}
.selector input, .selector label{
    width: min-content;
    display: flex;
    margin-top: .3rem;
}

input[type="submit"], input[type="reset"] {
  background-color: #038cab; 
  color: white;              
  border: none;              
  cursor: pointer;        
  width: min-content;
}

.buttons {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    padding-top: 1rem;
}

h1 {
    text-align: center;
    color: #129dd8;
}

h2 i{
    color: #3cc77d;
    font-style: italic;
}