/* =========================
   global.css
   ========================= */

/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables globales */
:root {
  --color-primary: #FEFDFF;
  --color-secondary: #111113;
  --color-secondary-gray: #4F4F4F;
  --color-secondary-gray2: #CECECE;
  --color-secondary-orange: #E04622;
  --color-white: #fff;
  --color-black: #111116;
  --color-white-gray: #F5F5F5;
  --font-family: 'Poppins', sans-serif;
  --border-radius: 8px;
  --transition: all 0.3s ease;
  --background: #FEFDFF;

  --text-xs: 0.75rem;   /* 12px */
  --text-sm: 0.875rem;  /* 14px */
  --text-base: 1rem;    /* 16px */
  --text-md: 1.125rem;  /* 18px */
  --text-lg: 1.5rem;    /* 24px */
  --text-xl: 1.875rem;  /* 30px */
  --text-2xl: 2.5rem;   /* 40px */
  --text-3xl: 2.875rem; /* 46px */
  --text-4xl: 3.25rem;  /* 52px */
  --text-5xl: 3.5rem;   /* 56px */
  --text-6xl: 4.5rem;   /* 72px */
  --text-7xl: 5.25rem;  /* 84px */
  --text-8xl: 5.5rem;   /* 88px */
  --text-9xl: 10rem; /* 190px */

}

/* Tipografía global */
body {
  font-family: var(--font-family);
  color: var(--color-secondary);
  background-color: var(--background);
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
  position: relative;
}

h1, h2, h3, h4, h5, h6, p {
  font-weight: 500;
  color: var(--color-secondary);
}

/* Escala de encabezados */
h1 { font-size: var(--text-5xl); }
h2 { font-size: var(--text-4xl); }
h3 { font-size: var(--text-3xl); }
h4 { font-size: var(--text-2xl); }
h5 { font-size: var(--text-xl); }
h6 { font-size: var(--text-lg); }

p {
  font-size: var(--text-base);
  color: var(--color-gray);
}

.general-container{
  width: calc(100% - 1rem);
  padding: .5rem;
}

@media (max-width: 1200px) {
  h1 { font-size: 3rem; }
  h2 { font-size: 2.5rem; }
  h3 { font-size: 2rem; }
  .display-1 { font-size: 8rem; }
  .display-2 { font-size: 6rem; }
}


@media (max-width: 992px) {
  h1 { font-size: 2.5rem; }
  h2 { font-size: 2rem; }
  h3 { font-size: 1.75rem; }
  p { font-size: 0.95rem; }
  .display-1 { font-size: 6rem; }
  .display-2 { font-size: 4.5rem; }
}

@media (max-width: 768px) {
  h1 { font-size: 2rem; }
  h2 { font-size: 1.75rem; }
  h3 { font-size: 1.5rem; }
  p { font-size: 0.9rem; }
  .display-1 { font-size: 4.5rem; }
  .display-2 { font-size: 3.5rem; }
}

@media (max-width: 480px) {
  h1 { font-size: 1.75rem; }
  h2 { font-size: 1.5rem; }
  h3 { font-size: 1.25rem; }
  p { font-size: 0.875rem; }
  .display-1 { font-size: 3rem; }
  .display-2 { font-size: 2.5rem; }
}
